<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Bravo online shop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="p-4 pt-5">
            <a href="#" class="img logo rounded-circle mb-5"
               style="background-image: url(/images/left-nav-picture.png);"></a>
            <ul class="list-unstyled components mb-5">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        Buyer Portal</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#" th:href="@{/buyer/orders}">Your Orders</a>
                        </li>
                        <li>
                            <a href="#">View Points</a>
                        </li>
                        <li>
                            <a href="#" th:href="@{/buyer/followership}">View Seller Following</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" id="top5Items">Top 5 Menu Items</a>
                </li>
                <li>
                    <a href="#" id="nutritionalFacts">Nutritional Facts</a>
                </li>
            </ul>

            <div class="footer">
                <p>
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved
                </p>
            </div>

        </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" th:if="${userDetails.getAddresses().size() > 0}">
                            <button type="button" class="btn btn-outline-primary btn-nav-bar" data-toggle="modal"
                                    data-target="#exampleModal" id="placeOrderNavBtn">
                                Place Order
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#menuModal">
                                Add Address
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#followModal">
                                Follow Seller
                            </button>
                        </li>
                        <li class="nav-item">
                            <form method="post" th:action="@{/logout}">
                                <input type="submit" class="btn btn-outline-primary" data-toggle="modal" value="Sign Out"/>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <h2 class="mb-4">Welcome <span sec:authentication="name"></span></h2>
        <div th:if="${getFollowingsURL}">
            <div th:if="${myFollowings.size() > 0}">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Seller</th>
                        <th>Date</th>
                        <th>Is following</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="following: ${myFollowings}">
                        <td th:text="${following.seller.firstName +' '+ following.seller.lastName}"></td>
                        <td th:text="${following.date}"></td>
                        <td th:text="${following.follow}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:unless="${myFollowings.size() > 0}" class="alert alert-info">
                You are not following any seller at the moment. Click Follow seller button to start following
            </div>

        </div>
        <div th:if="${orderHistoryDetailsURL}">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Order #</th>
                    <th>Date</th>
                    <th>Order Status</th>
                    <th>Description</th>
                    <th>Action By</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="orderHistoryEntry: ${orderHistory}">
                    <td th:text="${orderHistoryEntry.order.orderNumber}"></td>
                    <td th:text="${orderHistoryEntry.historyDate}"></td>
                    <td th:text="${orderHistoryEntry.orderStatus.status}"></td>
                    <td th:text="${orderHistoryEntry.description}"></td>
                    <td th:text="${orderHistoryEntry.user.firstName + ' '+ orderHistoryEntry.user.lastName}"></td>
                </tr>
                </tbody>
            </table>
            <div class="alert alert-info"><a th:href="@{/buyer/orders}">Back to List of Orders</a></div>
        </div>

        <div th:if="${orderSuccess}">
            <div class="alert alert-success">
                <p>Thank you, your order has been received, and being proessed</p>
                <p>Click <a th:href="@{/buyer/orders}">here</a> to view list of all your orders</p>
            </div>
        </div>

        <div th:if="${buyerOrdersURL}">
            <div th:if="${orderCancelled}" class="alert alert-success">Your Order has been cancelled successfully!</div>
            <div th:if="${(buyerOrders.size() > 0)}">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Order #</th>
                    <th>Details</th>
                    <th>Shipping Address</th>
                    <th>Amount</th>
                    <th>Coupons</th>
                    <th>Status</th>
                    <th colspan="3">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order: ${buyerOrders}">
                    <td th:text="${order.orderNumber}"></td>
                    <td>
                        <ul th:each="orderLine: ${order.orderLineList}">
                            <li th:text="${'Product: '+ orderLine.product.name + ' Serial No: ' + orderLine.product.serialNumber +' : Qty: '+ orderLine.quantity + ': Amount: ' + orderLine.amount}">

                            </li>
                        </ul>
                    </td>
                    <td th:text="${order.shippingAddress.toString()}"></td>
                    <td th:text="${order.totalAmount}"></td>
                    <td th:text="${order.coupons}"></td>
                    <td th:text="${order.getOrderStatus().getStatus()}"></td>
                    <td th:if="${order.getOrderStatus().getStatus().toUpperCase().equals('NEW')}">
                        <a th:href="@{'/buyer/order/cancel/' + ${order.id}}">Cancel</a>
                    </td>
                    <td th:unless="${order.getOrderStatus().getStatus().toUpperCase().equals('NEW')}">

                    </td>
                    <td th:if="${order.getOrderStatus().getStatus().toUpperCase().equals('NEW')}">
<!--                        <a href="#" class="makeOrderPaymentLink">Pay</a>-->
                        <div style="display: block" class="makePaymentDiv">
                            <form method="post" th:action="@{/buyer/order/pay/}">
                                <div>
                                    <input class="form-control" type="text" name="amount"/>
                                </div>
                                <div style="display: none">
                                    <input placeholder="Enter Payment" class="form-control" type="hidden" name="orderId" th:value="${order.id}" readonly/>
                                </div>
                                <div>
                                    <input class="btn btn-success" type="submit" value="Pay" name="payBtn"/>
                                </div>
                            </form>
                        </div>
                    </td>
                    <td th:unless="${order.getOrderStatus().getStatus().toUpperCase().equals('NEW')}">
                        <p th:if="${!order.getOrderStatus().getStatus().toUpperCase().equals('NEW') and
                                    !order.getOrderStatus().getStatus().toUpperCase().equals('CANCELLED')}">
                            <a th:href="@{'/buyer/download/receipt/' + ${order.id}}">Print Receipt</a>
                        </p>
                    </td>
                    <td>
                        <a th:href="@{'/buyer/order/history/' + ${order.id}}">History</a>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>

        <div id="shoppingCart" style="display: none" class="row">
            <form id="shoppingCartForm" method="post" class="form-row" th:action="@{/buyer/createOrder}">
                <table class="table table-bordered table-striped shopping-cart">
                    <thead>
                    <tr>
                        <th colspan="4" style="text-align: right">Sub Total</th>
                        <th id="totalCartAmount"></th>
                    </tr>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Info</th>
                        <th scope="col">Qty</th>
                        <th scope="col">UnitPrice</th>
                        <th scope="col">Amount</th>
                    </tr>
                    </thead>
                    <tbody id="shoppingCartBody">

                    </tbody>
                </table>
                <div style="display: none" id="totalItems">

                </div>
                <div class="form-group">
                    <div>
                        <button type="submit" class="btn btn-primary btn-block">Checkout</button>
                    </div>
                </div>
            </form>
        </div>

        <div th:unless="${buyerOrdersURL}">
            <p>Welcome to Bravo Online Shop, a place where you can buy and sell products. Register as a seller or buyer
            to get started and join the millions of other people already enjoying our services</p>
            <p>Contact the administrator for any queries regarding this online shop</p>
            <div th:if="${followingAction}" class="alert alert-success">
                Thank you! Your seller follwership has been updated accordingly.
                <span><a th:href="@{/buyer/followership}">Click here</a>to view these changes</span>
            </div>

            <div th:if="${addresses.size() > 0}" class="otherContent">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>City</th>
                        <th>Street</th>
                        <th>State</th>
                        <th>ZipCode</th>
                        <th>Type</th>
                        <th colspan="2">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="address: ${addresses}">
                        <td th:text="${address.id}"></td>
                        <td th:text="${address.city}"></td>
                        <td th:text="${address.street}"></td>
                        <td th:text="${address.state}"></td>
                        <td th:text="${address.zipCode}"></td>
                        <td th:text="${address.getAddressRole().getStatus()}"></td>
                        <td>
                            <a th:href="@{'/buyer/address/updateDetails/' + ${address.id}}">Edit</a>
                        </td>
                        <td>
                            <a th:href="@{'/buyer/address/delete/' + ${address.id}}">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div th:unless="${addresses.size() > 0}" class="otherContent row" style="margin-top: 10px;" id="dynamicContent">
                <div class="card" style="width: 18rem; margin-left:15px;">
                    <img src="/images/delicacies.jpg" class="card-img-top" />
                    <div class="card-body">
                        <p class="card-text">A wide range of delicacies also available in the shop</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem; margin-left:15px;">
                    <img src="/images/electronics.jpg" class="card-img-top" />
                    <div class="card-body">
                        <p class="card-text">Electronics devices are among the most purchased items</p>
                    </div>

                </div>
                <div class="card" style="width: 18rem; margin-left:15px;">
                    <img src="/images/clothing.jpg" class="card-img-top" />
                    <div class="card-body">
                        <p class="card-text">Checkout the clothing section for specialized clothing needs</p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<!-- Create New Menu -->
<div class="modal fade" id="menuModal" tabindex="-1" role="dialog" aria-labelledby="menuModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="menuModalLabel">Register Address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="menuFormErrors" style="display: none;"></div>
                <form method="POST" th:object="${address}" th:action="@{/buyer/saveAddress}">
                    <div class="form-group">
                        <div class="">
                            <input type="text" name="city" th:field="*{city}" placeholder="City"
                                   class="form-control" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <input type="text" name="street" th:field="*{street}"
                                   placeholder="Street" class="form-control" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <input type="text" name="state" placeholder="State" th:field="*{state}"
                                   class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <input type="text" name="zipCode" placeholder="Zip Code" th:field="*{zipCode}"
                                   class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="addressRole" th:field="*{addressRole}">
                            <option value="">-Select-</option>
                            <option value="Billing">Billing Address</option>
                            <option value="Shipping">Shipping Address</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div >
                            <button type="submit" class="btn btn-primary btn-block">Save Address</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Place Order Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Place Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="orderFormErrors" style="display: none;"></div>
                <form method="POST" id="addToCartForm">
                    <div id="placeOrderContent">
                        <div class="form-group">
                            <label for="cartProduct">Available Products</label>
                            <select id="cartProduct" class="form-control" >
                                <option value="">-Select-</option>
                                <option th:if="${products.size() > 0}"
                                        th:each="product: ${products}"
                                        th:text="${product.name + ' :[' + 'Price: ' + product.unitPrice + ' Info: ' + product.description + ' ]'}"
                                        th:value="${product.id + ':@' + product.name + ':@' + product.description + ':@'
                                        + product.serialNumber + ':@' + product.productNumber + ':@' + product.unitPrice}">

                                </option>
                                <option disabled selected th:unless="${products.size() > 0}" value="">
                                    -No Products Available In the Shop-
                                </option>
                            </select>
                        </div>
                        <div class="form-group" style="display: none">
                            <label for="cartItemQty">Item Name</label>
                            <input value="1" pattern="^[0-9]*$" type="text" class="form-control" id="cartItemQty" aria-describedby="qtyHelp" placeholder="e.g. 2">
                            <small id="qtyHelp" class="form-text text-muted">Enter number of items</small>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" id="addToCartBtn" value="Add To Cart"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<!-- Follow UnFollow Seller -->
<div class="modal fade" id="followModal" tabindex="-1" role="dialog" aria-labelledby="followLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="followLabel">Follow Or UnFollow Seller</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
<!--                <div th:if="${followingMap.size() > 0}">-->
                    <form method="POST" id="followSellerForm" th:action="@{/buyer/followership/save/}">

                        <div class="form-group">
                            <label for="seller">Select Sellers to Follow/Unfollow</label>

                            <select id="seller" multiple name="follow"  class="form-control" required>
                                <optgroup th:each="entry : ${followingMap}"
                                          th:label="${'Seller: ' + entry.key.username +' '
                                          + entry.key.firstName +' '+ entry.key.lastName}">
                                    <option th:if="${entry.value == true}" th:value="${'false:'+entry.key.username}">
                                        Unfollow
                                    </option>
                                    <option th:if="${entry.value == false}" th:value="${'true:'+entry.key.username}">
                                        Follow
                                    </option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" id="saveFollowingBtn" value="Save"/>
                        </div>
                    </form>
<!--                </div>-->
<!--                <div th:unless="${followingMap.size() > 0}" class="alert alert-info">No sellers registered in the shop at the moment</div>-->
            </div>
            <div class="form-group modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>

        </div>
    </div>
</div>




<!-- <script src="js/jquery.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
</script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/app.js"></script>

</body>

</html>
