<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Bravo online shop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="p-4 pt-5">
            <a href="#" class="img logo rounded-circle mb-5"
               style="background-image: url(/images/left-nav-picture.png);"></a>
            <ul class="list-unstyled components mb-5">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        Seller Portal</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#" th:href="@{/seller}">Manage products</a>
                        </li>
                        <li>
                            <a href="#" th:href="@{/seller/orders/}">Manage Orders</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" id="top5Items">Top 5 Menu Items</a>
                </li>
                <li>
                    <a href="#" id="nutritionalFacts">Nutritional Facts</a>
                </li>
            </ul>

            <div class="footer">
                <p>
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved
                </p>
            </div>

        </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item" th:if="${approved}">
                            <button type="button" class="btn btn-outline-primary btn-nav-bar" data-toggle="modal"
                                    data-target="#addProductModal" id="addProductNavBtn">
                                Add Product
                            </button>
                        </li>
                        <li class="nav-item">
                            <form method="post" th:action="@{/logout}">
                                <input type="submit" class="btn btn-outline-primary" data-toggle="modal" value="Sign Out"/>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <h2 class="mb-4">Welcome <span sec:authentication="name" id="usernameDisplay"></span></h2>
        <p>Welcome to Pick Bravo Online Shop, a place where you can buy and sell products. Register as a seller or buyer
            to get started and join the millions of other people already enjoying our services</p>
        <div class="alert alert-info">If you're newly registered, you will only register products after administrator approves your account</div>
        <hr/>
        <div th:if="${sellerOrdersURL}">
            <div th:if="${sellerOrders.size() > 0}">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Order #</th>
                        <th>Details</th>
                        <th>Shipping Address</th>
                        <th>Amount</th>
                        <th>Buyer</th>
                        <th>Status</th>
                        <th colspan="3">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order: ${sellerOrders}">
                        <td th:text="${order.orderNumber}"></td>
                        <td>
                            <ul th:each="orderLine: ${order.orderLineList}">
                                <li th:text="${'Product: '+ orderLine.product.name + ' Serial No: ' + orderLine.product.serialNumber +' : Qty: '+ orderLine.quantity + ': Amount: ' + orderLine.amount}">

                                </li>
                            </ul>
                        </td>
                        <td th:text="${order.shippingAddress.toString()}"></td>
                        <td th:text="${order.totalAmount}"></td>
                        <td th:text="${order.buyer.firstName + ' '+ order.buyer.lastName}"></td>
                        <td th:text="${order.getOrderStatus().getStatus()}"></td>
                        <td th:if="${order.getOrderStatus().getStatus().toUpperCase().equals('NEW')}">
                            <a th:href="@{'/seller/order/cancel/' + ${order.id}}">Cancel</a>
                        </td>
                        <td th:unless="${order.getOrderStatus().getStatus().toUpperCase().equals('NEW')}">

                        </td>
                        <td th:if="${!order.getOrderStatus().getStatus().toUpperCase().equals('NEW') or
                        !order.getOrderStatus().getStatus().toUpperCase().equals('DELIVERED')}">
<!--                            <a href="#" id="sellerChangeOrderStatus">Change Status</a>-->
                            <div style="display: block" id="changeStatusDiv">
                                <form method="post" th:action="@{/seller/order/changeStatus/}">
                                    <div style="display: none">
                                        <input class="form-control" type="hidden" name="orderId" th:value="${order.id}" readonly/>
                                    </div>
                                    <div>
                                        <select class="form-control" name="newStatus" required>
                                            <option value="">-select-</option>
                                            <option value="shipped">SHIPPED</option>
                                            <option value="delivered">DELIVERED</option>
                                        </select>
                                    </div>
                                    <div>
                                        <input class="btn btn-success" type="submit" value="Save" name="changeStatusBtn"/>
                                    </div>
                                </form>
                            </div>
                        </td>
                        <td th:unless="${!order.getOrderStatus().getStatus().toUpperCase().equals('NEW') or
                        !order.getOrderStatus().getStatus().toUpperCase().equals('DELIVERED')}">

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:if="${#httpServletRequest.requestURI.contains('updateDetails')}">
            <form enctype="multipart/form-data"  th:action="@{/seller/product/update}" method="post" th:object="${productDetails}">
                <input type="hidden" th:field="*{id}" th:value="${productDetails.id}"/>
                <input type="hidden" th:field="*{version}" th:value="${productDetails.version}"/>
                <input type="hidden" th:field="*{seller.id}" th:value="${productDetails.seller.id}"/>
                <input type="hidden" th:field="*{id}" th:value="${productDetails.getProductStatus().getStatus()}"/>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="serialNumber">Serial Number</label>
                        <input th:value="${productDetails.getSerialNumber()}" th:field="*{serialNumber}" type="text" class="form-control" placeholder="Serial Number">


                        <input  type="hidden" th:value="${productDetails.getProductNumber()}" th:field="*{productNumber}"  placeholder="product Number ">
                        <input  type="hidden" th:value="${productDetails.getProductStatus()}" th:field="*{productStatus}"  placeholder="product Status ">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="productName">Product Name</label>
                        <input th:value="${productDetails.getName()}" th:field="*{name}" type="text" class="form-control" placeholder="Product Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input th:value="${productDetails.getDescription()}" th:field="*{description}" type="text" class="form-control" placeholder="Product Description">
                </div>
                <div class="form-group">
                    <label for="unitPrice">Unit Price</label>
                    <input th:value="${productDetails.getUnitPrice()}" th:field="*{unitPrice}" type="text" class="form-control" id="unitPrice" placeholder="Unit price e.g. 200.00">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="productCategory1">Product Category</label>
                        <select id="productCategory1" class="form-control" th:field="*{productCategory.id}">
                            <option th:value="${productDetails.productCategory.id}" th:text="${productDetails.productCategory.name}">-Select-</option>
                            <option th:each="category: ${productCategories}" th:text="${category.name}" th:value="${category.id}">

                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="pictureUpload">Unit Price</label>
                        <input th:field="*{multipartFile}" type="file" class="form-control">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
        <div th:unless="${#httpServletRequest.requestURI.contains('updateDetails')}">
            <div th:if="${approved}">
                <!-- TODO: Display list of products for the seller -->
                <div th:if="${products.size() > 0}">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Serial</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Category</th>
                            <th>Status</th>
                            <th>Image</th>
                            <th colspan="2">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product: ${products}">
                            <td th:text="${product.id}"></td>
                            <td th:text="${product.serialNumber}"></td>
                            <td th:text="${product.name}"></td>
                            <td th:text="${product.description}"></td>
                            <td th:text="${product.unitPrice}"></td>
                            <td th:text="${product.productCategory.name}"></td>
                            <td th:text="${product.getProductStatus().getStatus()}"></td>
                            <td><img width="100px;" height="100px;" th:src="@{'/images/'+${product.file}}"/></td>
                            <td th:if="${product.getProductStatus().getStatus() == 'Available'}">
                                <a th:href="@{'/seller/product/updateDetails/' + ${product.id}}">Edit</a>
                            </td>
                            <td th:unless="${product.getProductStatus().getStatus() == 'Available'}">

                            </td>
                            <td th:if="${product.getProductStatus().getStatus() == 'Available'}">
                                <a th:href="@{'/seller/product/delete/' + ${product.id}}">Delete</a>
                            </td>
                            <td th:unless="${product.getProductStatus().getStatus() == 'Available'}">

                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div th:unless="${approved}">
                <div class="alert alert-danger">You need Administrator Approval to Add products</div>
                <div class="row" style="margin-top: 10px;" id="dynamicContent">
                    <div class="card" style="width: 18rem; margin-left:15px;">
                        <img src="/images/delicacies.jpg" class="card-img-top" />
                        <div class="card-body">
                            <p class="card-text">A wide range of delicacies also available in the shop</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem; margin-left:15px;">
                        <img src="/images/electronics.jpg" class="card-img-top" />
                        <div class="card-body">
                            <p class="card-text">Electronics devices are among the most purchased items</p>
                        </div>

                    </div>
                    <div class="card" style="width: 18rem; margin-left:15px;">
                        <img src="/images/clothing.jpg" class="card-img-top" />
                        <div class="card-body">
                            <p class="card-text">Checkout the clothing section for specialized clothing needs</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Create New Menu -->
<div class="modal fade" id="menuModal" tabindex="-1" role="dialog" aria-labelledby="menuModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="menuModalLabel">Register Address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="menuFormErrors" style="display: none;"></div>
                <form method="POST" id="newMenuForm">
                    <div class="form-group">
                        <div class="">
                            <input type="text" name="city" placeholder="City"
                                   class="form-control" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <input type="text" name="street"
                                   placeholder="Street" class="form-control" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <input type="text" name="state" placeholder="State"
                                   class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <input type="text" name="zipCode" placeholder="Zip Code"
                                   class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="billingType">
                            <option value="">-Select-</option>
                            <option value="billing">Billing Address</option>
                            <option value="shipping">Shipping Address</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div >
                            <button type="submit" class="btn btn-primary btn-block">Save Address</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Place Order Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Place Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="orderFormErrors" style="display: none;"></div>
                <form method="POST" id="placeOrderForm">
                    <div id="placeOrderContent">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" value="juice001">Orange Juice
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" value="juice002">Passion Juice
                            </label>
                        </div>
                        <div class="form-check disabled">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" value="eggs001">Boiled Eggs
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" id="placeOrderBtn" value="Place Order"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>


<!-- Add Product Modal -->
<div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addProductModalLabel">Register New Product</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="submitFormErrors" style="display: none;"></div>
                <form enctype="multipart/form-data"  th:action="@{/seller/product}" method="post" th:object="${product}">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="serialNumber">Serial Number</label>
                            <input required th:field="*{serialNumber}" type="text" class="form-control" id="serialNumber" placeholder="Serial Number">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="productName">Product Name</label>
                            <input required th:field="*{name}" type="text" class="form-control" id="productName" placeholder="Product Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input required th:field="*{description}" type="text" class="form-control" id="description" placeholder="Product Description">
                    </div>
                    <div class="form-group">
                        <label for="unitPrice">Unit Price</label>
                        <input required th:field="*{unitPrice}" type="text" class="form-control" id="unitPrice" placeholder="Unit price e.g. 200.00">
                    </div>
                    <div class="form-row">
<!--                        <div class="form-group col-md-4">-->
<!--                            <label for="seller"></label>-->
<!--                            <input type="text" class="form-control" id="seller" th:field="*{seller.username}">-->
<!--                        </div>-->
<!--                        <div class="form-group col-md-4">-->
<!--                            <label for="productStatus">Product Status</label>-->
<!--                            <select id="productStatus" class="form-control">-->
<!--                                <option value="">-Select-</option>-->
<!--                                <option value="NEW">NEW</option>-->
<!--                                <option value="AVAILABLE">AVAILABLE</option>-->
<!--                                <option value="ORDERED">ORDERED</option>-->
<!--                                <option value="PURCHASED">PURCHASED</option>-->
<!--                            </select>-->
<!--                        </div>-->
                        <div class="form-group col-md-6">
                            <label for="productCategory">Product Category</label>
                            <select required id="productCategory" class="form-control" th:field="*{productCategory.id}">
                                <option value="">-Select-</option>
                                <option th:each="category: ${productCategories}" th:text="${category.name}" th:value="${category.id}">

                                </option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="pictureUpload">Upload Product Image</label>
                            <input th:field="*{multipartFile}" type="file" class="form-control" id="pictureUpload">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
            <div class="form-group modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>




<!-- <script src="js/jquery.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
</script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/app.js"></script>

</body>

</html>
